body {
  background-color: white;
  font-family: "Kanit", sans-serif;
  color: black;
}
p {
  font-family: "Lexend Tera", sans-serif;
}
.gridContainer {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  grid-template-rows: 25vh 25vh 25vh 25vh;
}
#categoryId {
  width: 25vw;
  height: 10vh;
}
.dropdown-menu {
  width: 24vw;
}
#inputInCodesId {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  width: 47vw;
  height: 10vh;
}
.categoryFormClass {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}

.countriesContainer {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}
.submitCategoryCountryButton {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;
  align-self: center;
  width: 12.5vw;
  height: 8vh;
  margin-top: 5px;
  border-radius: 25px;
  border: 2px solid green;
  background-color: lightgreen;
  transition-duration: 0.4s;
}
.submitCategoryCountryButton:hover {
  background-color: #52b788;
  border: 2px solid #2d6a4f;
  color: white;
}

.chartButton {
  border-radius: 25px;
  border: 2px solid #0077b6;
  background-color: #48cae4;
  transition-duration: 0.2s;
  outline: none;
}
.chartButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
  outline: none;
}
.chartButton span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.4s;
}
.chartButton:hover span {
  padding-right: 25px;
}

.chartButton:hover span:after {
  opacity: 1;
  right: 0;
}

.back {
  width: 12.5vw;
  height: 8vh;
  border-radius: 25px;
  border: 2px solid #f4a261;
  background-color: #e9c46a;
  transition-duration: 0.4s;
}
.back:hover {
  background-color: #e76f51;
  border: 2px solid #bc6c25;
  color: white;
}

.ok {
  color: white;
  border-radius: 10px;
  border: 2px solid #721c24;
  background-color: #721c24;
  transition: 0.4s;
  outline: none;
}
.ok:hover {
  color: black;
}

label {
  display: none;
}
.choices {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;
}

.btn-outline-primary {
  display: block;
}

.country {
  display: inline-flex;
  align-items: center;
}

.horizontalChart {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}
.soloChart {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
}
.doubleChart {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
}
.bubbleChart {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;
}

.error {
  color: #721c24;
  background-color: #f8d7da;
  padding: 0.75rem 1.25rem;
}

@media (max-width: 650px) {
  body {
    font-size: 14px;
  }
  .choices {
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .doubleChart,
  .bubbleChart {
    grid-column-end: 5;
  }
  h3 {
    font-size: 20px;
  }
  .submitCategoryCountryButton {
    width: 17.5vw;
    height: 4vh;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  .back {
    width: 17.5vw;
    height: 4vh;
  }
}

@media (min-width: 1200px) {
  body,
  .dropdown-toggle {
    font-size: 28px;
  }
}
