
/*WELCOME PAGE */
body{
    background:url(images/data4.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    height: 100vh;   
    background-repeat:no-repeat;
}
.container{
    position: absolute;
    left: 30%;
    
}
h1{
    font-family: 'Lexend Tera', sans-serif;
    color: white;
    position: relative;
    top: -160px;
    font-size:40px; 
}
p{
    position: relative;
    font-family: 'Lexend Tera', sans-serif;
    color: white;
    top: -160px;
}

button{
    position: relative;
    bottom: 120px;
    left:80px;
    width: 450px;
    font-size: 35px;
    color: #15f4ee;
    background: rgb(83, 27, 6);
    font-family: 'Lexend Tera', sans-serif;
    font-weight: 400px;
    border: 5px solid #15f4ee;
    letter-spacing: 10px;
    cursor: pointer;
    border-radius:100px;
    transition: 1.5s ;
}

button:hover{
    box-shadow: 0 5px 20px 0 #15f4ee inset, 0 5px 20px 0 #15f4ee inset,
                0 5px 20px 0 #15f4ee inset, 0 5px 20px 0 #15f4ee inset;
    text-shadow:0 0 5px #052423,0 0 5px #052423;
}



.informations{
    position: relative;
    top: 400px;
}

.answers{
    color: black;
}

.questions{
    color: black;
    font-size:20px; 
}


.earth {
    width: 300px;
    height: 300px;
    position: relative;
    top: 390px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px #000;
    
}

.earth:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: -20px -20px 50px 2px #000 inset;
    border-radius: 50%;
}
.earth > div {
    width: 200%;
    height: 100%;
    animation: spin 30s linear alternate infinite;
    background: url(images/data5.jpg);
    background-size: cover;
  }



@keyframes spin {
    to {
      transform: translateX(-50%);
    }
  }
  